<div class="card">
  <div class="left-body">
    <form [formGroup]="cuestionarioForm" (ngSubmit)="agregarCuestionario()">
      <div>
        <label for="titulo">Titulo: </label>
        <input type="text" formControlName="titulo" id="titulo">
      </div>
      <div>
        <label for="descripcion">Descripción: </label>
        <input type="text" formControlName="descripcion" id="descripcion">
      </div>
      <div>
        <label for="fechadeejecucion">Fecha de Ejecución: </label>
        <input type="date" formControlName="fechaDeEjecucion" id="fechadeejecucion">
        <input type="time" formControlName="horaDeEjecucion" id="horadeejecucion">
      </div>
      <div>
        <p>¡Complete los datos!</p>
        <button type="submit" [disabled]="!cuestionarioForm.valid">Agregar</button>
      </div>
    </form>
  </div>
  <div class="right-body">
    <h2>Lista de Cuestionarios</h2>
    <ul>
      @for (cuestionario of cuestionarioLista; track cuestionario.idCuestionario; let idCuestionario = $index) {
      <li>
        <p>ID: {{ cuestionario.idCuestionario}}</p>
        <p>Titulo: {{ cuestionario.titulo }}</p>
        <p>Descripcion: {{cuestionario.descripcion}}</p>
        <p>Fecha de Creación: {{ cuestionario.fechaDeCreacion | date:"EEEE, dd MMM yyyy, hh:mm a"}}</p>
        <p>Fecha de Ejecución: {{cuestionario.fechaDeEjecucion | date:"EEEE, dd MMM yyyy, hh:mm a" }}</p>
        <button (click)="eliminarCuestionario(cuestionario.idCuestionario)">Eliminar</button>
        <button>Gestionar</button>
      </li>
      }
    </ul>
  </div>
</div>
