.contenedor {
  display: flex;
  justify-content: space-around;
  height: 3rem;
  box-shadow: 2px 2px 5px #000;
  margin-bottom: 0.5rem;

  .logo {
    a {
      cursor: pointer;
      height: 100%;
      img {
        height: 100%;
        padding: 5px;
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      li {
        transition: transform 0.2s;
        a {
          text-decoration: none;
          padding: 3px;
          margin: 5px;
          color: #000;
        }
        &:hover {
          transform: scale(1.1);
          a {
            color: red;
          }
        }
      }
    }
  }

  .btns {
    display: flex;
    align-items: center;
    button {
      padding: 5px;
      margin: 0 5px;
      color: #fff;
      font-weight: 600;
      background-color: rgb(0, 0, 0);
      border: none;
      border-radius: 5px;
      transition: transform 0.2s;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}
