<div class="contenedor">
  <div class="logo">
    <a href="">
      <img src="../../../assets/imagenes/cuestionario.png" alt="">
    </a>
  </div>
  <nav class="nav">
    <ul>
      <li><a [routerLink]="['/crearcuestionario']" routerLinkActive="router-link-active" >Inicio</a></li>
      <li><a href="">Preguntas</a></li>
      <li><a href="">About</a></li>
    </ul>
  </nav>
  <div class="btns">
    <button class=".btn-iniciar-sesion">Iniciar Sesión</button>
    <button class=".bnt-registrarse">Registrarse</button>
  </div>
</div>
